$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$slightly-transparent-white1: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);

// Very dark blue (main background): hsl(233, 47%, 7%)
// Dark desaturated blue (card background): hsl(244, 38%, 16%)
// Soft violet (accent): hsl(277, 64%, 61%)
// $white (main heading, stats): hsl(0, 0%, 100%)
// $slightly-transparent white1 (main paragraph): hsla(0, 0%, 100%, 0.75)
// $slightly-transparent white2 (stat headings): hsla(0, 0%, 100%, 0.6)

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0 50px;
    background: $very-dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 1050px;
    color: $white;
    font-weight: 400;
    font-size: 15px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.text {
    width: 53% !important;
    padding: 65px 70px;
    background: $dark-desaturated-blue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__title {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        h2 {
            color: $white;
            font-size: 33px;

            span {
                color: $soft-violet;
                font-size: inherit;
            }
        }
        p {
            color: $slightly-transparent-white1;
            opacity: 0.7;
            font-weight: 400;
            line-height: 1.7;
            padding: 0 40px 0 0;
            font-size: 14px;
        }
    }

    &__stats {
        display: flex;

        &__item {
            width: 100%;

            h3 {
                font-size: 24px;
                font-weight: 700;
            }
            p {
                font-size: 13px;
                color: $slightly-transparent-white2;
                opacity: 0.6;
                font-family: 'Lexend Deca', sans-serif;
                font-weight: 400;
                margin-top: 5px;
            }
        }
    }
}

.image {
    width: 50%;
    min-height: 420px;
    background: $soft-violet;

    &__box {
        width: 100%;
        height: 100%;
        background-image: url('../images/image-header-desktop.jpg');
        background-color: $soft-violet;
        background-blend-mode: multiply;
        background-size: cover;
        opacity: 0.75;
    }
}

.attribution {
    width: 100%;
    padding: 10px 0;
    font-size: 11px;
    text-align: center;
    background: #fff;
    position: absolute;
    bottom: 0;

    a {
        color: hsl(228, 45%, 44%);
    }
    
    h1 {
        display: inline;
        font-size: 11px;
        font-weight: normal;
    }
}

@media (max-width: 750px) {
    main {
        flex-wrap: wrap-reverse;
    }
    .text {
        width: 100% !important;
    }
    .image {
        width: 100% !important;
    }
}